<div id="difference" class="col-12" style="background-color:{{color}}"> 
	<div class="limitProperties col-12 col-lg-3">
		<span class="limitPropertiesCat">
			limit:
		</span> 
		<br/>{{limit}}
	</div>
	<div class="limitProperties col-12 col-lg-3">
		<span class="limitPropertiesCat">
			Dotychczasowe wpływy 
		</span><br/>{{spended}}
	</div>
	<div class="limitProperties col-12 col-lg-3">
		<span class="limitPropertiesCat">
			Różnica:
		</span><br/> {{diff}}
	</div>
	<div class="limitProperties col-12 col-lg-3">
		<span class="limitPropertiesCat">
			Oszczędności + wpisana kwota:
		</span><br/> {{sum}}
	</div>
	<div style="clear:both;"></div>		
</div>