{% extends "base2.html" %}
{% block menu2  %} class="nav-link disabled"
{% endblock %}

{% block script %}
	
	
$("#send").click(function(event){




if($("#amount").val()==="")
{

event.preventDefault();
alert("Wpisz kwotę");

}
});



	
{% endblock %}



{% block body %}

	<div id="subtitle">
		Dodaj przychód
	</div>
		<div id="expence" class="col-8 col-xl-6">
			<form method="post" action="/addincome/add" id="saveForm">		
	<div id="controlPanel" class="col-12"> </div>			
			<div class="cattitle col-12">Data</div>
			<br/>    
			<input type="date" id="data" name="data" required><br/>
			{% if incomes.errors_data is not empty %}
				{% for error in incomes.errors_data %}
					<div class="error">{{ error}}</div>
				{% endfor %}
			{% endif %}
	
			<br/>
			<div class="cattitle col-12">Kwota</div>
			<br/>
			<div class ="cat col-12 ">
				<input id="amount" type="number"   name="kwota" min="0.01" step="0.01"  />
				{% if incomes.errors_kwota is not empty %}
					{% for error in incomes.errors_kwota %}
					<div class="error" id="kwotaError">{{ error}}</div>
					{% endfor %}
				{% endif %}

				<br/>
				<br/>
			</div>
			<div class="cattitle">Kategoria</div>
				<br/>
				<div class ="cat col-12 ">
					{% if dataIncomes is not empty %}
						{% for dataIncome in dataIncomes %}
							<label class="col-12">	
								<div class="incomelimit col-12"><div class="incomelimittitle"><input type="radio" name="przychod" value="{{ dataIncome.name}}"  class="incType" checked />{{ dataIncome.name}}</div> 
									<div style="clear:both;"></div>
									
								</div>
							</label>
						{% endfor %}
					{% endif %}
				</div>					
				<br/>
				<div class="cattitle col-12">Komentarz</div>
				<br/>
				<div class ="cat col-12 ">
						
					<input type="text"  name="komentarz" />
					<br/>
					<br/>

				</div>
						
						
				<span class ="add">
					<input type="submit" value="Dodaj"  id="send" />	
				</span>
				<span class ="abort">
				<a href="/Addincome/new">
					<input type="button" value="Anuluj"  href="/addinome/new"/>		
				</a>
				</span>	
				<div id="c" class ="col-12" >
				</div>						
			</form>
	</div>

	
{% endblock %}