{% extends "base2.html" %}
{% block script %}

	$("#saveNewCategory").click(function(event) {

		var name=$("#catname").val()
		name=name.toUpperCase();
		{% if dataIncomes is not empty %}
			{% for dataIncome in dataIncomes %}
				var dataName="{{ dataIncome.name}}";				
				dataName=dataName.toUpperCase();
				if(name===dataName)	{
					event.preventDefault();
					alert("Kategoria już istnieje");
				}		
				{# break #}
			{% endfor %}
		{% endif %}
		else if (name===""){
			alert("Wpisz nazwę");
			event.preventDefault();
		}

	});

{% endblock %}
{% block body %}
	<div id="subtitle">
		Kategorie przychodów
	</div>
	<div id="expence" class="col-8  col-md-6 col-lg-4 col-xl-3">
		<div class ="cat col-12 ">
			{% if dataIncomes is not empty %}
				{% for dataIncome in dataIncomes %}
					<div class="incomelimitNew col-12">
						<div class="incomelimittitle">{{ dataIncome.name}}</div> 

						
						<div style="clear:both;"></div>
						
					</div> 
					

					
					
					
				{% endfor %}
			{% endif %}
		</div>				
		<div style="clear:both;"></div>	

		<span class ="add">
			<input type="submit" value="Dodaj kategorię" id="addCat" data-bs-toggle="modal" data-bs-target="#newModal" />	
		</span>
		<form method="post" action="/Incomecategory/add" id="saveForm">		
			<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Podaj dane kategorii</h5>
							

					  </div>
					  <div class="modal-body">
						Nazwa kategorii<br/>
						<input type="text" name="categoryname"  id="catname" /> 
						
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
						<button  type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="saveNewCategory" >Zapisz</button>
					  </div>
					</div>
				</div>
			</div>	

			
			
			
		</form>

		<span class ="abort">
			<input type="submit" value="Usuń kategorię"  id="deleteCat" data-bs-toggle="modal" data-bs-target="#deleteModal"/>		
		</span>			

			<form method="post" action="/Incomecategory/deletecategory" >

				<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				 <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Wybierz kategorie do usunięcia</h5>
							

					  </div>
					  <div class="modal-body">
							{% if dataIncomes is not empty %}
								{% for dataIncome in dataIncomes %}
									<label>
										<input type="radio" name="limit"  value="{{ dataIncome.id}}" id="limitChecked" />  {{ dataIncome.name}}
									</label>	
									<br/>
								{% endfor %}
							{% endif %}
						  <div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
							
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="deleteCategory" data-bs-target="#newConfirmModal" data-bs-toggle="modal" >Usuń</button>
						  </div>
						</div>
					 </div>
					</div>	
				




				</div>
				
				
				<div class="modal fade" id="newConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Czy jesteś pewien</h5>
							

							</div>
							<div class="modal-body">
							
							Czy jesteś pewien, usunięcie tej kategorii spowoduje usunięcie wszystkich wpływów tej kategorii
							
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
								<button type="submit" class="btn btn-primary" id="saveNewCategory">Potwierdź</button>
							</div>
						</div>
					</div>
				</div>	
			</form>
	</div>	
{% endblock %}