{% extends "base2.html" %}
{% block body %}
	<div id="registration" class="col-8  col-md-6 col-lg-4 col-xl-3">
		Zmień hasło
		<form id="reglog" method="post" action="/Changepassword/change" >
			<div style="clear:both;"></div>		
			<i class="icon-lock"></i>					
			<input class="col-8 col-md-6" type="password" placeholder="stare hasło" onfocus="this.placeholder=''" onblur="this.placeholder='stare hasło'" name="password" required>
  			{% if user.errors_password is not empty %}
				{% for error in user.errors_password %}
					<div class="error">{{ error}}</div>
				{% endfor %}
			{% endif %}						
			<div style="clear:both;"></div>					
			<i class="icon-lock"></i>					
			<input class="col-8 col-md-6" type="password" placeholder="nowe hasło" onfocus="this.placeholder=''" onblur="this.placeholder='nowe hasło'" name="newpassword" required>
			{% if user.errors_newpassword is not empty %}
				{% for error in user.errors_newpassword %}
					<div class="error">{{ error}}</div>
				{% endfor %}
			{% endif %}		
			<div style="clear:both;"></div>					
			<i class="icon-lock"></i>					
			<input class="col-8 col-md-6" type="password" placeholder="powtórz hasło" onfocus="this.placeholder=''" onblur="this.placeholder='powtórz hasło'" name="newpassword2" required>					
			<div style="clear:both;"></div>
			<input type="submit" value="Zmień hasło">					
		</form>
	</div>		
{% endblock %}