{% extends "base.html" %}
{% block footer %}
    <script>

        $(document).ready(function() {
            $('#reglog').validate({
                rules: {

                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
					                    login: {
                        required: true,

                        remote: '/account/validate-login'
                    },
										                    password: {
                        required: true,
						minlength: 6


                    },
										                    password2:  {
                        required: true,


                    }
                },
                messages: {
                    email: {
                        remote: 'Istnieje już użytkownik o takim adresie e-mail',
						required:'To pole jest wymagane'
                    },
					                    login: {
                        remote: 'Istnieje już użytkownik o takim loginie',
						required:'To pole jest wymagane'
                    },
										                    password: {
                        required: 'To pole jest wymagane',
						minlength: 'Hasło musi mieć co najmniej 6 znaków'
                    },
										                    password2: {
                        required:'To pole jest wymagane'
                    }
					
                }
            });

        });
   
    </script>
				
{% endblock %}
{% block body %}
	<div id="registration" class="col-8  col-md-6 col-lg-4 col-xl-3">
		Zarejestruj się
		<form id="reglog" method="post" action="/Registration/add" >
			<i class="icon-mail-alt"></i>				
			<input class="col-8 col-md-6" type="email" placeholder="e-mail" onfocus="this.placeholder=''" onblur="this.placeholder='e-mail'"  name="email" required>
			<br/>
			{% if user.errors_mail is not empty %}
				{% for error in user.errors_mail %}
					<div class="error">{{ error}}</div>
				{% endfor %}
			{% endif %}
			<div style="clear:both;"></div>		
			<i class="icon-user"></i>
			<input class="col-8 col-md-6" type="text" placeholder="login" onfocus="this.placeholder=''" onblur="this.placeholder='login'" name="login" required>
			{% if user.errors_login is not empty %}
				{% for error in user.errors_login %}
					<div class="error">{{ error}}</div>
				{% endfor %}
			{% endif %}
			<div style="clear:both;"></div>					
			<i class="icon-lock"></i>
			<input class="col-8 col-md-6" type="password" placeholder="hasło" onfocus="this.placeholder=''" onblur="this.placeholder='haslo'" name="password" required>
			{% if user.errors_password is not empty %}
				{% for error in user.errors_password %}
					<div class="error">{{ error}}</div>
				{% endfor %}
			{% endif %}
			<div style="clear:both;"></div>					
			<i class="icon-lock"></i>					
			<input class="col-8 col-md-6" type="password" placeholder="powtórz hasło" onfocus="this.placeholder=''" onblur="this.placeholder='powtórz hasło'" name="password2" required>					
			<div style="clear:both;"></div>
			<input type="submit" value="Zarejestruj się">		
		</form>
	</div>		
{% endblock %}