{% extends "base2.html" %}
{% block menu1 %}class="nav-link disabled"
{% endblock %}
{% block body %}
	<div id="expence" class="col-10">			
		<div class="elements">
			<div class="elem">
				<img src="/img/z3.jpg" class="img-fluid" alt="pieniądze">
			</div>
			<div class="elem">
				<span class="welcome"><span class="welcomebold">Witaj {{ user.username }}</span>
				<br/>
				Zapraszamy do oszczędzania. 
				<br/>
				Pamiętaj że pieniądze to nie wszystko</span>
				<br/>
				<br/>
				<br/>
			</div>
		</div>
	</div>		    
{% endblock %}