{% extends "base2.html" %}
{% block menu4  %} class="nav-link disabled"
{% endblock %}
{% block body  %}
	<div id="subtitle">
		Przeglądaj bilans
	</div>
	<form method='post' id="formularz" action="/balanceoverwiev/show">		
		<div id="bilancePeriod">
							
			<label for="period">Podaj okres bilansu:</label>
			<select  id="period"  onchange="changeDate(this);if(this.selectedIndex>=0&&this.selectedIndex<3) submit();"  name="period" >
				<option value="currentMonth" {% if selectedCurrentMonth is not empty %} selected {% endif %}>Bieżący miesiąc</option>
				<option value="previousMonth" {% if selectedPreviousMonth is not empty %} selected {% endif %} >Poprzedni miesiąc</option>
				<option value="currentYear"  {% if selectedCurrentYear is not empty %} selected  {% endif %} >Bieżący rok</option>
				<option value="unusual" {% if selectedUsusualPeriod is not empty %} selected {% endif %} >Niestandardowy</option>
			</select>
			<br/>
			<div id='datebutton'>
				{% if selectedUsusualPeriod is not empty %}
				<input type='submit'  value='Pokaż'/><br/>
				{% endif %} 
			</div>
		</div>
		<div id="balance" class="col-10 col-md-8 col-xl-8">
			<div id="balance2">
				<p>	
					{% if below0 is not empty %}			
					{{ below0 }}
					{% endif %}
				</p>	
				<div id="balance3">
					{% if selectedUsusualPeriod is not empty %}
						<div class='dates col-12 col-md-6'>Data początkowa</br><input type='date' id='datebegin' name='datapocz' value={{datapocz}}><br/></div>   
						<div class='dates col-12 col-md-6'> Data końcowa</br><input type='date' id='dateend' name='datakonc' value={{datakonc}}><br/>  </div>
					{% endif %} 
					</div> 
					<div style='clear:both;'></div>
					<div id='incomeTable' class='col-12 col-xl-6'> Przychody<br/> 
						<table>
							<thead>
								<tr><th colspan="3">Łącznie rekordów:  {% if sum_incomes is not empty %} {% for sum_income in sum_incomes %} {{sum_income['COUNT(incomes.id)']}}        {% endfor %}   {% endif %}</th></tr>
								<tr><th>data</th><th>kwota</th><th>typ</th></tr>
							</thead>
							<tbody>
								{% if list_incomes is not empty %}
									{% for list_income in list_incomes  %}
										<tr><td>{{list_income.date_of_income}}</td><td>{{list_income.Amount}}</td><td>{{list_income.name}}</td</tr>
									{% endfor %}
								{% endif %}
							</tbody>
  
						</table>
						<br/>
						<p class='inc'>Przychody = 	
						{{sum_incomes [0] ['SUM(incomes.Amount)']}}
						{% if sum_incomes [0] ['SUM(incomes.Amount)'] is empty %}
						0.00
						{% endif %}
						</p> 
					</div>
					<div id='expenseTable' class='col-12 col-xl-6'>Wydatki<br/>
						<table>
							<thead>
								<tr><th colspan="3">Łącznie rekordów:  
									{% if sum_expenses is not empty %} 
										{% for sum_expense in sum_expenses %} 
											{{sum_expense['COUNT(expenses.id)']}}        
										{% endfor %}
									{% endif %}
								</th></tr>
								<tr><th>data</th><th>kwota</th><th>typ</th></tr>
							</thead>
							<tbody>    
								{% if list_expenses is not empty %}
									{% for list_expense in list_expenses  %}
										<tr><td>{{list_expense.date_of_expense}}</td><td>{{list_expense.Amount}}</td><td>{{list_expense.name}}</td</tr>
									{% endfor %}
								{% endif %}
							</tbody> 
						</table>
						<br/>
						<p class='exp'>Wydatki =   {{sum_expenses [0] ['SUM(expenses.Amount)']}}{% if sum_expenses [0] ['SUM(expenses.Amount)'] is empty %}0.00{% endif %}</p>
					</div>
					<div style='clear:both;'></div>
					<div class="col-12">
						<span class ='add'></span>
						<div id="chartContainer" class='col-12' style="height: 370px;" ></div>													
					</div>					
			</div>
		</div>
	</form>	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
			var data = google.visualization.arrayToDataTable([
				['Name', 'Value'],
				{% for pieCh in arg %}
					['{{ pieCh.name }}', {{ pieCh['SUM(e.amount)'] }}],
				{% endfor %}
			]);
			var options = {
				title: 'Struktura wydatków'
			};
			var chart = new google.visualization.PieChart(document.getElementById('chartContainer'));
			chart.draw(data, options);
		}
	</script>
	<script src="js/bootstrap.js"></script>
{% endblock  %}