{% extends "base2.html" %}
{% block menu3  %} class="nav-link disabled"
{% endblock %}

{% block script %}

      

			
			
	function showWarning(event){ 

		var money=$("#cash").val();
		var payment=$(".payType:checked").val();
		var type=$(".expType:checked").val();
		var date=$("#data").val();
		var id=$("#data").val();
		{% if dataExpenses is not empty %}
			{% for dataExpense in dataExpenses %}
				if (type=="{{ dataExpense.name}}" )
				{
					var limit="{{ dataExpense.amount_limit}}";
					var id="{{ dataExpense.id}}";
					{# break #}
				}
			{% endfor %}
		{% endif %}
		$.post("/Addexpense/verify",  {
			data:date,
			kwota:money,
			platnosc: payment,
			category:type,
			cat_id:id,
			limit:limit


	
		}, function(data, status){
			$("#controlPanel").html(data);
		});
			
	};
	$("#cash").change(showWarning);
	$(".expType").change(showWarning);
	$("#data").change(showWarning );
	
	$(".add").click(function(event){




if($("#cash").val()==="")
{

event.preventDefault();
alert("Wpisz kwotę");

}
});

{% endblock %}
	
				{% block body %}
			<div id="ajaxMain">
			<div id="subtitle">
			Dodaj wydatek
			</div>
			<div id="expence" class="col-8 col-xl-6">
				<form method="post" action="/Addexpense/add" id="addincome">
				
				<div id="controlPanel" class="col-12"> </div>
					<div class="cattitle col-12">Data</div>
						<br/>    
						<input type="date" id="data" name="data" required><br/>
					    {% if expenses.errors_data is not empty %}
	{% for error in expenses.errors_data %}
  <div class="error">{{ error}}</div>
            {% endfor %}
			{% endif %}
						<br/>
						<div class="cattitle col-12">Kwota</div>

						<br/>
						<div class ="cat col-12 ">
							<input type="number"   name="kwota" min="0.01" step="0.01" id="cash" required/>
							{% if expenses.errors_kwota is not empty %}
								{% for error in expenses.errors_kwota %}
									<div class="error">{{ error}}</div>
								{% endfor %}
							{% endif %}
							<br/>
							<br/>
						</div>
						<div class="cattitle">Sposób płatności</div>
						<br/>
						{% if dataPayments is not empty %}
				{% for dataPayment in dataPayments %}
				
					<label class="col-12"><div class="incomelimit col-12"><div class="incomelimittitle"><input type="radio" name="platnosc"  value="{{ dataPayment.name}}"   class="payType" checked/>{{ dataPayment.name}}</div> </div></label>
					<div style="clear:both;"></div>					
				{% endfor %}
				{% endif %}

						<br/>
						<div class="cattitle">Kategoria</div>
						<br/>
						<div class ="cat col-12 ">

				{% if dataExpenses is not empty %}
					{% for dataExpense in dataExpenses %}
					<label class="col-12 col-lg-5">
					<div class="incomelimit col-12">
						<div class="incomelimittitle">
							<input type="radio" name="category" value="{{ dataExpense.name}}" class="expType" checked/>{{ dataExpense.name}}
						</div> 
						<div style="clear:both;"></div>
						<div class="incomeLimitAmount text-danger" id="limit{{ dataExpense.id}}">{% if dataExpense.amount_limit is not empty %}Limit: {{ dataExpense.amount_limit}} zł.{% endif %}</div>
					</div> </label>
					{% endfor %}
				{% endif %}
						<br/>
				<div class="cattitle col-12">Komentarz</div>
				<br/>
				<div class ="cat col-12 ">			
					<input type="text"  placeholder="wpisz komentarz" onfocus="this.placeholder='wpisz komentarz'" onblur="this.placeholder='wpisz komentarz'"  name="komentarz"  />
					<br/>
					<br/>
				</div>
				<span class ="add">
					<input type="submit"  value="Dodaj"/>	
				</span>
				<span class ="abort">
				<a href="/Addexpense/new">
					<input type="button" value="Anuluj"  href="/addinome/new"/>		
				</a>
				</span>						
			</form>
		</div>
	</div>
{% endblock %}